*,
*:focus {
    outline: none
}

.form-item {
    position: relative;
    margin-bottom: 15px
}

.form-item input,
.form-item textarea {
    height: 50px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #CCC;
    transition: all .3s ease;
    padding: 0 15px
}

.form-item textarea {
    height: 120px;
    margin-top: 10px;
}


.form-item label {
    position: absolute;
    cursor: text;
    z-index: 2;
    top: 13px;
    left: 0px;
    font-size: 12px;
    font-weight: bold;
    background: #0A192F;
    padding: 0 10px;
    color: #999;
    transition: all .3s ease
}

.form-item input:focus+label,
.form-item input:valid+label,
.form-item textarea:focus+label,
.form-item textarea:valid+label {
    font-size: 13px;
    top: -5px
}

.css-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px 40px;
}