.line {
    position: absolute;
    height: 120px;
    width: 2px;
    background-color: #fff;
    bottom: -136px;
}

.icon {
    transition: 0.3s;
    cursor: pointer;
}

.icon:hover {
    color: rebeccapurple;
    transform: translate(-50%, 50%)
}