.line {
    position: absolute;
    height: 120px;
    width: 2px;
    background-color: #fff;
    bottom: -136px;
}

.main-color {
   
}

.icon {
    transition: 0.3s;
    cursor: pointer;
}

.icon:hover {
    color: aqua;
    transform: translateY(-15%)
}